<h1>Heroes </h1>

<div class="row">
    <div class="col text-right">
        <button routerLink="/heroes" class="btn btn-danger">
            <i class="fa fa-arrow-left">
                Back
            </i>
        </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form action="">
            <div class="form-group">
                <label for="">Firebase ID</label>
                <input type="text" class="form-control" disabled="disabled">
                <small class="form-text text-muted">Autogenerate field</small>
            </div>
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" placeholder="Heroe's name">

            </div>
            <div class="form-group">
                <label for="">Power</label>

                <input type="text" class="form-control" placeholder="Heroe's power">
            </div>
            <div class="form-group">
                <label for="">State</label>
                <br>
                <button class="btn btn-outline-success w-50" type="button">
                    <i class="fa fa-smile-wink">
                        Alive
                    </i>
                </button>
                <button class="btn btn-outline-danger w-50" type="button">
                    <i class="fa fa-smile-wink">
                        Dead
                    </i>
                </button>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-52">
            <i class="fa fa-save">
                Save
            </i></button>

            </div>

        </form>
    </div>
</div>